* {
  font-family: 'Poppins', sans-serif;
}

.toolbar {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 26px;
}

.mylogo {
  align-content: center;
}

.menu {
  margin-left: 300px;
}

.headline {
  margin-top: 40px;
}

#container-one {
  display: flex;
  flex-direction: row;
}

.first {
  display: flex;
  flex-direction: column;
}

.rect-6 {
  width: 15px;
}

.ell-11 {
  margin-top: -30px;
}

.second {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 70px;
}

.ell-5 {
  width: 11px;
  height: 10px;
  margin-top: -10px;
}

.ell-8 {
  margin-left: 130px;
}

.fourth {
  display: flex;
  flex-direction: column;
  margin-left: 85px;
}

.ell-3 {
  width: 60px;
  margin-left: 50px;
  margin-top: -45px;
}

.introduction {
  font-size: 65px;
}

.profession {
  font-size: 25px;
  word-wrap: break-word;
}

.motto {
  font-size: 25px;
  color: #7f8cff;
}

#container-two {
  margin-left: 20px;
  margin-top: -120px;
}

@media (min-width: 675px) {
  body {
    background-color: beige;
  }
}

.card-one {
  border: 2px solid #fff;
  width: 34%;
  margin: 0 auto;
}

.linkedin {
  margin-left: 20px;
}

.vector-1 {
  margin-left: 20px;
}

.vector-2 {
  margin-left: 20px;
}

.vector-3 {
  margin-left: 20px;
}

#container-three {
  display: flex;
  margin-top: 40px;
  margin-left: 50px;
}

.fifth {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
}

.sixth {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: -110px;
}

.ell-15 {
  height: 20px;
}

.ell-4 {
  width: 20px;
  margin-left: 80px;
}

.rect-5 {
  width: 100px;
  margin-top: -30px;
}
