* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8%;
}

main {
  background-image: url("./images/header-bg.png");
  width: 95%;
  height: 87vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: auto;
  border: 2px solid white;
  border-bottom: 2px solid #cfd8dc;
  border-radius: 0 0 0 100px;
}

#container-one {
  display: flex;
  flex-direction: row;
}

.introduction {
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  color: #172b4d;
}

.profession {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 10%;
}

.motto {
  font-size: 25px;
  color: #7f8cff;
  margin-top: 10%;
}

.headline {
  margin-left: 20px;
  margin-top: 120px;
}

.social-media {
  margin-bottom: 200px;
}

.social-media ul {
  display: flex;
  align-items: center;
}

.icons {
  padding: 20px 20px 0 0;
}
